.section_two{
    background-color: #ffffff;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: min-content;
    row-gap: 30px;
    padding: 0 calc(10px + 1.19vw);
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "OpenSans_regular", sans-serif;
    padding: calc(5px + 0.89vw) 0;
    color: #3e3e3e;
    transition: all ease 2s;

}
.content img {
    padding-bottom: calc(15px + 0.89vw);
}

.content h2 {
    font-size: calc(16px + 0.83vw);
    padding-bottom: calc(10px + 0.59vw);
}

.content p {
    font-size: calc(14px + 0.05vw);
}

.item_1{
    grid-column: 1/1;
    grid-row: 1/2;
}

.item_2 {
    grid-column: 1/1;
    grid-row: 2/3;
}

.item_3 {
    grid-row: 1/3;
    grid-column: 2/3;
}

.item_4 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.item_5 {
    grid-row: 2/3;
    grid-column: 3/4;
}


@media only screen and (max-width: 475px) {
    /* Styles */
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}