.section_seven {
    background-color: #b4a184;
    color: #fff;
}

.title {
    color: #ffffff;
}

.subtitle {
    color: #ffffff;
    font-size: calc(16px + 0.297vw);
    text-transform: none;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form form input {
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 40px;
    max-width: 550px;
}

.form form button {
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ba271f;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    transition: all ease 0.8s;
    max-width: 160px;
}
.form form button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
@media only screen and (max-width: 480px) {
}