.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-left: calc(20px + 2.38vw);
    font-family: "OpenSans_light", sans-serif;
    font-size: calc(14px + 0.57vw);
    line-height: 1;
    text-transform: lowercase;
    transition: width ease-in-out 0.8s;

}

@media only screen and (max-width: 767.9px) {
    .navigation {
        display: none;
    }
}