.section_one {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 700px;
    width: 100%;
    background-color: rgba(56, 85, 100, 0.8);
    background-image: url("../../../../../images/header__bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.title_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: calc(50px + 4.16vw) 0 calc(20px + 1.78vw) 0;
    padding-right: 40px;
}

.title {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: calc(18px + 1.60vw);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: calc(20px + 1.48vw);
}

.subtitle {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: calc(16px + 0.53vw);
    text-align: center;
    text-transform: uppercase;
}
@media only screen and (max-width: 475px) {
    /* Styles */
.title_wrapper {
    padding: calc(50px + 4.16vw) 0 calc(20px + 1.78vw) 0;
    padding-right: unset;
}}